/* here is to remove all styling from Markup*/
*{
    margin :0;
    padding :0;
    border :0;
    outline :0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    

  /* declear the color uses( https://coolors.co/ - Color palette generator)*/  
:root{
--color-primary : #006400;
--color-success : #004b23;
--color-warning : #007200;
--color-danger : #c94b4b;
--color-danger-variant: rgb(79, 78, 78);
--color-white : #fff;
--color-light :rgba(255,255,255,0.7);
--color-black: #000;
--color-bg : #008000;
--color-bg1 : #38b000;
--color-bg2 : #70e000;
--color-btn : rgb(72, 122, 101);
 }

 body{
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    color:var(--color-black);
    background:var(--color-white);
}
 /*.............styling- header-----*/
 .menu-header{
    background-color:rgb(250, 244, 255);
    height: 130px;
    width: 100%;
    padding-bottom: 5%;
  
  }
  header{
    margin: 0 0 0 1px;
    min-width: 100vw;
    height: 98px;
  }

  header nav{
     margin: 0 0 0 1px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color:transparent;
     justify-content: space-around;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hiddden;
    
  }
  .logo a:hover {
    background-color: transparent;
  }
  
  .logo-img{
    max-height: 30%;
    max-width: 30%
  }
  nav ul li{
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: rgb(79, 78, 78);
    font-weight: 800;
    font-size: 20px;
    transition: 300ms ease-in;
  }
  nav ul li a:hover{
    color: var(--color-danger);
  }
  nav ul li a.active {
    background-color: var(--color-btn);
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
  } 

/* stling the main section */
.main{
  
    width: 100%;
    height: auto;
    background-color: rgb(250, 244, 255);
    overflow: hidden;
    clear: both;
    padding: top 20%;
    
  }
  .main-left{
    float: left; 
    width: 50%
  }
  
  #main {
    text-align: justify;
    margin-left: 60px;
    font-size: 45px;
    /*padding: 25px 5px; */
    padding-top: 15%;
    line-height: normal;
  }
  #para{
    text-align: justify;
    margin-left: 65px;
    margin-top:30px;
  }
  span{
    color:orange;
    font-size: 20px;
    font-style: bold;
  }
  .button{
    text-align: center;
    margin-top: 50px;
  }
  .btn {
      background-color: var(--color-btn); /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  .btn:hover{
    color: orange;
  }
  .main-right{
    padding-top: 8%;
  }
  /* about styling---*/
.sec-about{
    text-align: center;
    padding-top: 30%;
    width: 100%;
    height: auto;
  }
  .sec-about h1 {
    padding-top: 2%;
    font-size: 30px;
  }
  .sec-about h3 {
    font-size: 30px;
  }
  .about-wrap{
    width:100%;
    height: auto;
    margin-top: 1%;
    background-color:transparent;
  }
  .about-1{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
    height: 400px;
    background-color: transparent;
   }
    
  .about-img{
    float: left;
    width: 50%;
    margin-top: 3%;
    background-color: transparent;
  } 
  .image-left {
    display: block;
      width: 50%;
      height: 100%;
      margin-top: 3%;
      margin-left: auto;
      margin-right: 5px;
      padding:3px 3px;
      border:6px solid #fff;
      box-shadow: 10px 10px 10px grey;
  }
  
   
  .about-right {
    float: right;
    width: 50%;
    margin-top: 3%;
    background-color: transparent
  }
  .about-right h1{
    text-align: left;
    color: var(--color-btn);
    margin-top: 20px;
    margin-left: 5px;
    margin-right: auto;
    padding:3px 3px;
    line-height: normal;
  }
  .about-right p {
    text-align: left;
    margin-left: 5px;
  }
  .button-about {
    text-align: left;
    padding:1% 15%;
  }
  .btn-about {
    background-color: var(--color-btn);/* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* center about*/
  .about-2{
    width: 100%;
    height: 400px;
    background-color: transparent;
   }
  .about-center{
    float: left;
    width: 50%;
    background-color: transparent;
   }
   .about-center h1{
    text-align: left;
    color: var(--color-btn);
    margin-top: 9%;
    margin-left: 40%;
    margin-right: auto;
    padding:3px 3px;
    line-height: normal
  }
   
  .about-center p {
    text-align: justify; 
    margin-left: 40% 
  }
  .button-center {
    text-align: right;
    margin-right:35%;
    padding-top: 2%;
  }
  
  .btn-about {
    background-color: var(--color-btn); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
    
  .about-img-center{
    float: right;
    width: 50%;
    background-color: transparent;;
  } 
  
  .image-right-center {
    display: block;
      width: 50%;
      height: 100%;
      margin-top: 10%;
      margin-right: auto;
      border:6px solid #fff;
      box-shadow: 10px 10px 10px grey;
  }
  
  /* about 3 styling */
  
  .about-3{
    width: 100%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 400px;
    background-color: transparent;
   }
    
  .about-3-img{
    margin-right: 50%;
    width: 50%;
    margin-top: 25%;
    background-color: transparent;
  } 
  
  .image-3-left {
    display: block;
      width: 50%;
      height: 100%;
      margin-top: 3%;
      margin-left: auto;
      margin-right: 2px;
      padding:3px 3px;
      border:6px solid #fff;
      box-shadow: 10px 10px 10px grey;
  }
  
  .about-3-right {
    float: right;
    width: 50%;
    margin-top: 1%;
    background-color: transparent;
  }
  .about-3 h1{
    text-align: center;
    font-size:45px
  }
  .about-3-right h1{
    text-align: left;
    color: var(--color-btn);
    margin-top: 20px;
    margin-left: 5px;
    margin-right: auto;
    padding:3px 3px;
    line-height: normal;
  }
  .about-3-right p {
    text-align: left;
    margin-left: 5px;
  }
  .button-3-about {
    text-align: left;
    padding:1% 15%;
  }
  .btn-3-about {
    background-color: var(--color-btn); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #img3{
    margin-top: 3%;
    
  }
  #text3 {
    margin-top: 3%;
  }

  /* footer styling */
  footer{
    width: 100%;
    height: auto;
    background-color: rgb(250, 244, 255);
   
  }
  .footer-box{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
  }
  .footer-about{
    width: 40%;
    color: var(--color-black);
    margin-left: 120px;
  }
  .footer-links h3{
    margin-bottom: 10px;
    color:var(--color-black);
    font-size: 20px;
  }
  .footer-links a{
    color: var(--color-black);
    text-decoration: none;
    margin: 6px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3ms ease-in-out;
  }
  
  .footer-links a:hover{
    color: rgb(110, 16, 16);
  }
  
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  } 
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 1%;
    margin-left: 15%;
    
    
  }

  /* style the form; sign up form*/
  .form-section {
    clear: left;
    background: url("../images/formbg.png4.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
 }
 .signup-form {
    margin:250px 10% 0 0; 
    color: #fff;
    background-color: rgba(12, 156, 55, 0.815);
    max-width: 400px;
    position: absolute;
    left: 40%;
    padding: 30px;
 }
 .signup-form h2 {
    color: #fafafa;
   margin-bottom: 20px
        
 }
 .text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin:5px 0 20px 0;
    border: 2px solid #fafafa;
    border-radius: 2px;
 }
 .text-input:hover {
    border-color: #a06b09;
 }
 .join-button {
    margin-top:20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    margin-left: 30%;
    font-size: 100%;
    background-color:#21aa14;
    color: #fafafa;
    display: block;
 }
 .join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;   
 }
 .message{
  width:100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
 }
.message .success{
  font-size: 20px
  color var(--color-success);
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}
.message .danger {
  font-size: 20px;
  color: red;
  position: absolute;
  transition: 3s;
  animation: buttons .3s liner;
  display: none;

}

@keyframes join-button {
  0%{
    transform : scala(0.1);
  }
  50%{
    transform : sacle(0.5);
  }
  100%{
    transform: scale(1);
  }
}

 /* style Blog page*/
 /* Header/Blog Title */

 /* w3*/
.header-blog {
  position: relative;
  width: 95%;
  height: 800px;
  text-align: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 30px;
  top: 4px;
  
  
 }
.header-blog:hover {
    animation-name: colorchange;
    animation-duration: 0.7s;
    animation-delay: 2s;
  }
  
@keyframes colorchange {
  from {background-color: red;}
  to {background-color: yellow;}
}
.text-block{
  width: 23%;
  height: 30%;
  position: absolute;
  bottom: 320px;
  right: 20px;
  margin-right: 30%;
  background-color: var(--color-primary);
  opacity: 0.5;
  color: var(--color-white);
  padding-left: 20px;
  padding-right: 20px
}
.text-block {
  text-align: center;
  font-size: 17px;
}
.text-block h2 {
  font-weight: bold;
}
.text-b { 
  width: 100%;
  height: 70px;
  margin-top: 2%;
  text-align: center;
}
.text-b {
  font-size: 30px;
}

.header-blog img {
  width: 85%;
  height: 630px;
  margin-top: 5%;
  margin-left: 8%;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(175, 102, 19, 0.19);  
} 

/*         w3  */
.section-blog{
  width: 100%;
  height: auto;
  margin-top: 800px;
  background-color: transparent;
}
.clearfix{
	clear: both;
}
.container{
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}
.col-div-6{
	width: 50%;
	float: left;
}
.heading{
	color: var(--white);
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 14%;
}



.ban-img{
	width: 250px;
	margin-bottom:-50px;

}
.b-img{
	width: 100%;
	border-radius: 10px;
}
.heading1{
	margin-top: 20px;
	color: var(--main);
	font-size: 14px;
	text-transform: uppercase;
}


.lr-box{
	padding: 10px 20px;

}
.b-img-1{
	width: 100%;
	height: 160px;
	border-radius: 10px;
	margin-top: 7px;
}
.blog-heading-1{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black);
}
.line{
	    width: 100%;
	    margin-top: 15px;
    border: none;
    height: 1px;
    background: #ddd;
}
.lr-box:hover{
	opacity: 0.5;
	cursor: pointer;
}
.box-1:hover{
	opacity: 0.5;
	cursor: pointer;
}

.box-2{
	width: 28.5%;
	float: left;
	margin: 25px;
}
.box-2:hover{
	opacity: 0.5;
	cursor: pointer;
}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
 
 
 
  
  
   
    
 