/* here is to remove all default styling from Markup*/
*{
    margin :0;
    padding :0;
    border :0;
    outline :0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* declear element to be used ( color, font size, font weight--) */  
:root{
 /* declear the color uses( https://coolors.co/ - Color palette generator)*/  
--color-primary : #006400;
--color-success : #004b23;
--color-warning : #007200;
--color-hover : #c94b4b;
--clr-accent-500: hsl(12, 60%, 45%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
--color-danger-variant: rgb(79, 78, 78);
--color-danger-span: orange;
--color-white : #fff;
--color-light :rgba(255,255,255,0.7);
--color-black: #000;
--color-bg : #008000;
--color-bg1 : #38b000;
--color-bg2 : #70e000;
--color-btn : rgb(72, 122, 101);
--clr-neutral-100: hsl(0 0% 100%);
--ff-primary: "Be Vietnam Pro", sans-serif;

/* font size to be used are declear here , it make very easier to work with these and as well as responsiveness .I got the idee of the  i will link the video in Readme document*/  
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;


  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}
body{
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    color:var(--color-black);  
}  
@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* https://piccalil.li/blog/a-modern-css-reset - i got this css rules from this site Piccalili.li -The link will provided in the Readme document*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}



/* button syling */

.button {
  display: inline-flex;
  cursor: pointer;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: green;
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}
 /* the button with with color* i got the idear fron the Utube tutorial*/
.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-400);
  align-items: center;
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-300);
  
}

/* navigation   element styling*/

.primary-header {
  padding-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-600);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);

}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
  
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}
#main-img {
  margin-top:-9% ;
} 

/* about   element styling*/

#h2-about {
margin-top:-3%;
}



/* for the responsiveness*/
@media (max-width: 50em) {
  .primary-navigation {
    display: none;

    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-left: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    /* height: 100vh; */
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

}

  @media (max-width:320px) {
    .button {
      margin-left: 4%;
      
    }
    .social-list {
      margin-left: 18%;
    }
    #logo-footer{
      display: none;
    }
    #button-white{
      margin-left:25%;
    }
  }

  @media (min-width:600px) {
    .button {
      margin-left: 4%;
      
    }
    .social-list {
      margin-left: 30%;
    }
    #logo-footer{
      display: none;
    }
    #button-white{
      margin-left:40%;
    }
    .footer-nav{
      margin-left:15%;
    }
  }

  

/*Blog page syle here*/


/* Centered text */
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(18, 18, 18, 0.5); /* Black background with 0.5 opacity */
  color: #b6b9b7;
  padding: 20px;
  transform: translate(-50%, -50%);
}
.blog-column {
  float: left;
  width: 30%;
  margin-left: 12.5%;
  padding: 0 10px;
}
.blog-column-testimony{
  float: left;
  width: 17%;
  margin-left: 11%;
  padding: 0 10px;
}

/* to remove extra left and right margins, due to padding */
.blog-row{margin: 0 -5px;}

/* Clear floats after the columns */
.blog-row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the blog container */
.blog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px ;
  text-align: center;
  margin-left: 2em;
  background-color: #f1f1f1;
}



*
.blog-row h2,  h3{
text-align: center;

}
.blog-row p {
text-align: center;
margin-left: 20%;

}


/*  Blog Responsivenes at 50em  */
@media screen and (max-width: 50em) {
  .blog-column , .blog-column-testimony{
    width: 40%;
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
  } 
}

/*  Blog Responsivenes at 320  */
@media screen and (max-width: 320px) {
  .blog-column , .blog-column-testimony, .blog{
      width: 200%;
      float: none;
  
  }
  
  .blog-text{
    width: 200%;
    text-align: left;
    margin-left: 8%;
  }
  

  .blog img{
    width:100vw;
  }

  #copy-right{
    text-align: center;
  }
  
  .text-block{
    display: none;
  }
  
}
/*  Blog Responsivenes at 600px  */
@media screen and (max-width: 600px) {
  .blog-column , .blog-column-testimony{
    width: 48%;
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
  }
  #copy-right{
    text-align: center;
  }
  
}



/* footer syling */ 
/* footer navigation */

.footer-nav {
  columns: 2;
  gap: clamp(var(--size-200), 30vw, var(--size-900));
}

.footer-nav a {
  color: var(--clr-neutral-100);
  text-decoration: none;

}

.footer-nav a:is(:hover, :focus) {
  color: var(--clr-accent-400);
}


/* social list */

.social-list {
  display: flex;
  gap: var(--size-600);
  

}
.social-list a{
  color: var(--clr-accent-400);
  
}

#img-footer img{
  margin-left: 35%;
}
.social-list a:is(:hover, :focus)  {
  color: var(--clr-accent-300);
}
span{
  color: orange;
}



/* Utility classes  are classes of code that reused*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.active {
  text-decoration: underline !important;
}
.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}
.margin-bottom-900 {
  margin-block-end: var(--size-900);
}
.margin-bottom-1000 {
  margin-block-end: var(--size-1000);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}




/*  contact us page is syle here  */
.form-section {
  clear: left;
  background-image: url("../images/form-bg.jpg");
 /* background-size: 100%;
  background-repeat: no-repeat;*/
  background-size: cover;
  background-position: center;
  height: 900px;
}
.form-section h2{
  text-align: center;
}
.signup-form {
  margin:150px 10% 0 0; 
  color: #fff;
  background-color: var(--color-warning);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}
.signup-form h2 {
  color: #fafafa;
 margin-bottom: 20px

}
.text-input{
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin:5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
.text-input:hover {
  border-color: #f16c6b;
}
.join-button {
  margin-top:20px;
  border-radius:2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color:#f16c6b;
  color: #fafafa;
  display: block;
}
.join-button:hover {
  background-color: #fafafa;
  color: #f16c6b;
}
#msg{
  width: 50vw;
  height: 20vh;
}
  
  /*  Contact page Responsivenes at 320  */
@media screen and (max-width: 320px) {
  .signup-form {

    margin:260px 10% 0 0;  
    max-width: 80%;
    
   
  }

.social-list {
    margin-left: 7%;
} 
}

 
  /*  Contact page Responsivenes at 50em  */
  @media screen and (max-width: 50em) {
    #msg {
      width:100%;
    
      
    }
  }


/* syling thank you Message this is simple a message got after sucessfully fill the form*/
.thank-u  {
  max-width: 2%;
  max-height: 3%;
  padding: 3rem 3rem;
  margin-top: 5%;
  margin-left: 30%;

}
.thank-u img {
  max-width: 320px;
  max-height: 320px;
} 

 



 